.navbar__hamburger {
  display: none;
}

.brand {
  font-size: 34px;
  display: flex;
  align-items: center;
}

.navbar__menu--close {
  display: none;
  text-align: left;
  align-self: flex-end;
  padding: 0 0.5rem;

  button {
    background: none;
    border: none;
  }
}

.navbar {
  display: flex;
  padding: 1.12rem 2.5rem;
  gap: 2.5rem;
  color: var(--almost-black);
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .navbar__menu--list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    a {
      color: var(--medium-gray);
      transition: all 0.1s;
      padding: 1rem 0;

      &:hover {
        color: var(--almost-black);
      }
    }
  }

  .navbar__menu--login {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;

      li {
        transition: all 0.1s;
        &:hover {
          filter: brightness(0.7);
        }

        a {
          color: var(--medium-gray);

          &.outline {
            border: 1px solid var(--medium-gray);
            border-radius: 15px;
            padding: 0.75rem 1rem;

            &:hover {
              border-color: var(--almost-black);
            }
          }
        }
      }
    }
  }
}

.navbar__dropdown {
  position: relative;

  .navbar__dropdown--title:after {
    content: url("../images/icon-arrow-down.svg");
    margin-left: 0.5rem;
  }
  &:hover .navbar__dropdown--title:after {
    content: url("../images/icon-arrow-up.svg");
  }

  .navbar__dropdown--content {
    display: none;
    min-width: 10rem;
    position: absolute;
    border-radius: 8px;
    background: var(--almost-white);
    padding: 0.5rem;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.25);
    z-index: 1;
    transition: all 0.1s;
    margin-top: 1rem;

    li {
      &:hover {
        filter: brightness(0.7);
      }
      a {
        width: 100%;
        color: var(--medium-gray);
        padding: 0.5rem 1.5rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      ul {
        flex-direction: column;
      }
    }
  }

  &:hover .navbar__dropdown--content {
    display: flex;
  }
}

@media (max-width: 768px) {
  .navbar__menu--close {
    display: block;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar__dropdown {
    &:hover .navbar__dropdown--content {
      display: none;
    }

    .navbar__dropdown--content {
      &.dropdown__active {
        display: block;
      }
    }
  }

  .navbar__menu {
    justify-content: start;
    gap: 3rem;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: var(--almost-white);
    display: flex;
    width: 50%;
    height: 100%;
    padding-top: 1.5rem;
    padding-right: 2rem;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.25);

    &.menu__active {
      right: 0;
    }

    flex-direction: column;
    .navbar__menu--list {
      flex-direction: column;
    }

    .navbar__menu--login ul {
      flex-direction: column;
    }

    .navbar__dropdown--content {
      position: relative;
      box-shadow: none;
    }
  }

  .navbar__hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
