:root {
  --white: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --gray: hsla(0, 0%, 100%, 0.75);
  --medium-gray: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--very-dark-blue);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lexend Deca", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 38px;
}

.highlight {
  color: var(--soft-violet);
}

.card {
  background: var(--dark-desaturated-blue);
  width: 68rem;
  height: 28rem;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.card__content,
.card__image {
  width: 50%;
  position: relative;
}

.card__content {
  padding: 3rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.card__content h1,
.card__content p {
  max-width: 90%;
}

.card__content p {
  line-height: 1.5rem;
  color: var(--medium-gray);
  font-size: 16px;
}

.card__stats {
  display: flex;
  margin-top: 3rem;
  gap: 5rem;
}

.card__stats__item strong {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}

.card__stats__item p {
  color: var(--medium-gray);
  text-transform: uppercase;
  font-size: 14px;
}

.card__image__overlay {
  position: absolute;
  background-color: var(--soft-violet);
  opacity: 0.5;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.card__image {
  background-image: url("../images/image-header-desktop.jpg");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1090px) {
  .card {
    height: 50rem;
    width: 25rem;
    flex-direction: column;
  }

  .card__image {
    background-image: url("../images/image-header-mobile.jpg");
    order: 1;
    width: 100%;
    height: 100%;
  }

  .card__content {
    order: 2;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
  }

  .card__content,
  .card__image {
    width: 100%;
  }

  .card__content h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
  }

  .card__content p {
    text-align: center;
    margin: 0 auto;
  }

  .card__stats {
    margin-top: 0;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .card__stats__item strong,
  .card__stats__item p {
    margin: 0 auto;
  }
}
